
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

*{
	font-family: 'Noto Sans', sans-serif;
	font-weight: 200;
}

.dark-primary-color    { background: #455a64; }
.default-primary-color { background: #607d8b; }
.light-primary-color   { background: #cfd8dc; }
.text-primary-color    { color: #ffffff; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #bdbdbd; }

.flex-container{
	display: flex;
}

header.flex-container{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header > img {
	border-radius: 50%;
	filter: grayscale(100%);
	transition: all 2s ease-out;
}

header > img:hover{
	filter: grayscale(0%);
}

header > h3 {
	font-style: italic;
}

main > h3{
	position: relative;
	top: 20px;
	text-align: center;
}

main li{
	cursor: pointer;
}

main li:hover{
	color: #fff;
}

main > div > ul {
	padding: 50px;
}

.detalhes-li{
	display: none;
}

footer{
	text-align: center;
}