
/* SCSS */
// Baseado em {}

// cores //
$dark-primary-color: #455a64;
$default-primary-color:#607d8b; 
$light-primary-color:#cfd8dc; 
$text-primary-color:#ffffff; 
$accent-color:#009688; 
$primary-text-color:#212121; 
$secondary-text-color:#757575; 
$test-color:#FF0000;
// fim cores //

body{
    background-color: $default-primary-color;
}

main{
    background-color:$dark-primary-color;
    & > h3{
        position: relative;
	    top: 20px;
	    text-align: center;
    }
    & li{
        cursor: pointer;
        &:hover{
            color:$text-primary-color;
        }
    }
}

header{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    & > img{
        border-radius: 50%;
        filter: grayscale(100%);
        transition: all 2s ease-out;
        &:hover{
            filter: grayscale(0%);
        }
    }
    & > h3{
        font-style: italic;
    }
}
